* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(20,32,96,1) 100%);
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 30px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block; 
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px white;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span{
    color: gray;
    display: block;
    margin-top: 10px;
}
 
.links-list-segunda {
    list-style: none;
    margin-top: 30px;
}

.links-list-segunda li {
    margin: 10px 20px;
}


.links-list-segunda li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list-segunda li a span{
    color: gray;
    display: block;
    margin-top: 10px;
}